@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #243a8e;
  --red-color-primary: #de1e33;
  --bg-primary-gradient: linear-gradient(91.73deg, #243a8e 42.1%, #0065ff 91.59%);
  --bg-primary-gradient-2: linear-gradient(266.36deg, #243a8e 3.07%, #3f8eff 96.93%);
  --bg-primary-gradient-red: linear-gradient(90.59deg, #de1e33 6.21%, #243a8e 93.79%);
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .backdrop-custom-blur {
    backdrop-filter: blur(61px);
  }
}
